.movieCard:hover{
    z-index: 98;
    transform: scale(1.05);
}

a:hover, a:visited, a:active{
    text-decoration: none;
}

.movieCardImage{
    object-fit: cover;
    height: 400px;
}

.movieCardTitle{
    text-align: center;
}

.movieCardDesc{
    text-indent: 20px;
}

.movieCardDeets{
    text-align: center;
}

.movieCardBody{
    background-color: rgba(255, 249, 223, 0.522);
}

.movieCard{
    box-shadow: 2.5px 2.5px 2.5px grey;
    margin: 2px;
}