body{
  background-image: linear-gradient(white, rgba(125, 143, 71, 0.522), white);
}

.navbar {
    // background-color: rgb(255, 252, 237);
    border: 1px solid rgba(112, 130, 56, 0.522);
    background-image: linear-gradient(white, rgb(255, 252, 237));
}

.navbar-toggler{
    transform: scale(0.75);
}

.navButtons{
    float: right;
}