body{
  background-image: linear-gradient(white, rgba(216, 229, 255, 0.300), white);
  background-size: cover;
}

.navbar {
    border: 1px solid rgba(216, 229, 255, 0.522);
    background-image: linear-gradient(white, rgb(255, 252, 237));
}

.navbar-toggler{
    transform: scale(0.75);
}

.navButtons{
    float: right;
}