.accountProfileDetailsTitle{
    text-align: center;
}

.accountProfileDetails{
    width: 30%;
    margin-right: 35%;
    margin-left: 35%;
}

.indivDetail{
    float: right;
}

.buttons{
    padding-top: 10px;
    text-align: center;
}

.favoriteMoviesTitle{
    text-align: center;
}

.FavoriteMovies{
    justify-content: center;
}

.profileMovieCard{
    text-align: center;
}